.vertical-aligner {
    display: table;
    /*height: 200px;*/
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.vertical-aligner > .vertical-content{
    display: table-cell;
    vertical-align: middle;
}

.appliance-box {
    text-align: center;
}
.appliance-box > .appliance-box-extra{
    display: none;
}

.appliance-box:hover > .appliance-box-extra{
    display: inline-block;
}
