.vertical-aligner {
    display: table;
    /*height: 200px;*/
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.vertical-aligner > .vertical-content{
    display: table-cell;
    vertical-align: middle;
}

.index-categoty-name{
    margin-bottom: -72px;
}

.appliance-box{
    min-height: 222px;
    text-align: center;
    height: 100%;
}

.appliance-box > .appliance-box-extra{
    /*Ocultar extras de appliance por padrão*/
    display: none;
}
.appliance-box:hover > .appliance-box-extra{
    /*Exibir extras de appliance durante hover*/
    display: inline-block;
}

span.appliance-name{
    font-size: 18px;
}

.overflow-button{
  background-color:inherit;
}

.notify-arrow{
    border-color: transparent transparent #68dff0;
    border-bottom-color: #FFFFFF !important;
    border-top-color: #FFFFFF !important;
}

.mtbox{
    margin-top : 0px;
    margin-left: 0px;
    height: 100%;
}

.appliance-detail-main{
    border-right : 1px solid;
}

.break-word{
    word-wrap: break-word;
}

.slider-control .slider-track, .slider-control .slider-selection {
    background : #BABABA;
}

.slider-control .slider-horizontal {
    width : 100%;
}
.slider-control .slider-handle {
    background : #989898;
}

/* -- Alison rules :D -- */

.black-bg{
    background: #3970BA;
    border-bottom: 1px solid #3970BA;
}

.tooltips{
    color: #fff;
    font-size: 24px !important;
    margin-top: -4px;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus{
    background: #5BC0DE !important;
}

ul.top-menu > li > .logout{
    /*
    border: 1px solid #36AFD3 !important;
    background: #5BC0DE !important;
    */
    display: none;
}

.site-footer{
    display: none;
}

ul.top-menu > li > a:hover, ul.top-menu > li > a:focus{
    /* Later */
}

.mt{
    margin-left: 0px;
}

.appliance-title{
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 23px;
    width: auto !important;
    height: auto !important;
}
