.vertical-aligner {
    display: table;
    /*height: 200px;*/
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.vertical-aligner > .vertical-content{
    display: table-cell;
    vertical-align: middle;
}

.index-categoty-name{
    margin-bottom: -72px;
}

.appliance-box > .appliance-box-extra{
    /*Ocultar extras de appliance por padrão*/
    display: none;
}
.appliance-box:hover > .appliance-box-extra{
    /*Exibir extras de appliance durante hover*/
    display: inline-block;
}

span.appliance-name{
    font-size: 18px;
}

.appliance-buttom{
    font-size: 25px;
    margin-top: 8px;
}

.notify-arrow{
    border-color: transparent transparent #68dff0;
    border-bottom-color: #FFFFFF !important;
    border-top-color: #FFFFFF !important;
}

.mtbox{
    margin-top : 0px;
}
