<h1>
  <i class="fa fa-cubes"></i>
  Appliances
</h1>
<div ng-controller="IndexAppliancesController" ng-init="getItems()">
    <div class="row" ng-if="loading">
        <div class="col-md-2 col-md-offset-3">
            <img class="img-responsive text-center" src="img/loading.gif" alt="Loading data" />
        </div>
    </div>
    <div class="row mtbox">
        <div id="{{appliancesById[appliance.id].name}}"
            class="appliance-box col-md-2 col-sm-2 box0"
            ng-repeat="appliance in appliances">

            <div class="appliance-box-main box1">
                <div class="row pull-right">
                  <button type="button" class="btn overflow-button">
                    <i class="fa fa-ellipsis-v fa-2x"></i>
                  </button>
                </div>

                <span class="li_bulb"></span>
                <h3>{{appliancesById[appliance.id].name}}</h3>
                <div class="appliance-services">
                    <input
                      bs-switch
                      type="checkbox"
                      switch-size="small"
                      switch-label-width="0"

                      ng-model="appliancesById[appliance.id].viewStatus"
                      ng-change="toggleStatus(appliancesById[appliance.id].viewStatus ? 1 : 0, appliance.id);"
                      >
                </div>
            </div>

            <div class="appliance-box-extra appliance-services">

            </div>
        </div>
    </div><!-- /row mt -->
</div>
