<!-- **********************************************************************************************************************************************************
MAIN SIDEBAR MENU
*********************************************************************************************************************************************************** -->
<aside>
  <div id="sidebar"  class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">

        <li class="mt">
          <a href="#management">
            <i class="fa fa-tasks"></i>
            <span>Administração</span>
          </a>
        </li>
        <li class="mt">
        <a class="active" href="#/">
          <i class="fa fa-home"></i>
          <span>Página Inicial</span>
        </a>
        </li>
        <li class="mt">
          <a href="#appliances">
            <i class="fa fa-cubes"></i>
            <span>Appliances</span>
          </a>
        </li>
        <li class="mt">
          <a href="#rooms">
            <i class="fa fa-th"></i>
            <span>Cômodos</span>
          </a>
        </li>

    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>

<script>
  $(document).ready(function(){

      console.log("Load sidebar");
      DashgumSidebar();
  });
</script>
