<div class="row mt">

    <div class="col-md-4 mb">
        <div class="grey-panel pn" style="text-align: center;">
            <div class="vertical-aligner">
                <div class="vertical-content">
                    <i class="fa fa-bed fa-5x"></i>
                    <h1>Quarto</h1>
                </div>
            </div>
        </div>
    </div><!-- /col-md-4 -->
    <div class="col-md-4 mb">
        <div class="grey-panel pn" style="text-align: center;">
            <div class="vertical-aligner">
                <div class="vertical-content">
                    <i class="fa fa-bed fa-5x"></i>
                    <h1>Sala</h1>
                </div>
            </div>
        </div>
    </div><!-- /col-md-4 -->
    <div class="col-md-4 mb">
        <div class="grey-panel pn" style="text-align: center;">
            <div class="vertical-aligner">
                <div class="vertical-content">
                    <i class="fa fa-bed fa-5x"></i>
                    <h1>Cozinha</h1>
                </div>
            </div>
        </div>
    </div><!-- /col-md-4 -->
    <div class="col-md-4 mb">
        <div class="grey-panel pn" style="text-align: center;">
            <div class="vertical-aligner">
                <div class="vertical-content">
                    <i class="fa fa-bed fa-5x"></i>
                    <h1>Banheiro</h1>
                </div>
            </div>
        </div>
    </div><!-- /col-md-4 -->
    <div class="col-md-4 mb">
        <div class="grey-panel pn" style="text-align: center;">
            <div class="vertical-aligner">
                <div class="vertical-content">
                    <i class="fa fa-bed fa-5x"></i>
                    <h1>Varanda</h1>
                </div>
            </div>
        </div>
    </div><!-- /col-md-4 -->

</div><!-- /row -->
