<div class="row">

  <section class="appliance-detail-main text-center col-md-3 col-sm-3">

    <img class="appliance-icon" src="imgs/{{scheme.icon}}"></img>
    <h3 class="break-word"> {{appliance.name}}</h3>

  </section>

  <section class="appliance-detail-controls col-md-8 col-md-offset-1 col-sm-offset-1">
      <h3> Controles </h3>
      <div class="appliance-services">

          <div class="form-group" ng-repeat="control in scheme.controls">
              <label for="toggle-power"> {{control.label}}</label>
              <br/>
              <appliance-control appliance="appliance" control="control"/>
          </div>

      </div>
  </section>

</div>
