<div class="row">

  <section class="appliance-detail-main text-center col-md-3 col-sm-3">

    <img class="appliance-icon" src="imgs/bulb_64x64.png"></img>
    <h3 > ApplianceName</h3>

  </section>

  <section class="appliance-detail-controls col-md-8 col-md-offset-1 col-sm-offset-1">
      <h3> Controles </h3>
      <div class="appliance-services">
          <!--
          <div class="form-group">
            <label for="toggle-power">Ligar/Desligar</label>
            <br/>
            <input
              bs-switch
              id="toggle-power"
              type="checkbox"
              switch-size="small"
              switch-label-width="0"

              ng-model="appliancesById[appliance.id].viewStatus"
              ng-change="toggleStatus(appliancesById[appliance.id].viewStatus ? 1 : 0, appliance.id);"
              >
          </div>


          !-->
          <h3> Appliance controls</h3>
          <!--
          <div class="form-group" ng-repeat="control in currentAppliance.controls">
              <appliance-control appliance="currentAppliance" control="control"/>
          </div>
          !-->
      </div>
  </section>

</div>
