<p> true-value: {{control.params.hasOwnProperty('true-value')
                        ? control.params['true-value'] : true}}</p>
<p>  false-value: {{control.params.hasOwnProperty('false-value')
                         ? control.params['false-value'] : true}}</p>
<p>  real_status: {{appliance.real_status[control['bind-status']]}}</p>
<p>  view_status: {{appliance.view_status[control['bind-status']]}}</p>

  <input
    toggle-control
    type="checkbox"
    data-size="small"
    data-label-width="0"
    data-on-text="{{ control.params['on-label'] }}"
    data-off-text="{{ control.params['off-label'] }}"
    ng-model="appliance.view_status[control['bind-status']]",
    ng-true-value="{{control.params.hasOwnProperty('true-value')
                            ? control.params['true-value'] : true}}",
    ng-false-value="{{control.params.hasOwnProperty('false-value')
                             ? control.params['false-value'] : true}}",
    ng-change="applianceService.onChangeControl(appliance, control);"
    >
  <!-- ng-change="toggleStatus(appliancesById[appliance.id].viewStatus ? 1 : 0, appliance.id);" !-->
